<!DOCTYPE html>
<html lang="jp">
<!-- headタグ -->
{{template "head"}}

<body>
    <!-- ヘッダ -->
    {{template "navber"}}
    <!-- 本体 -->
    <div class="jumbotron  px-lg-5">
        <div class="container-fluid px-lg-5">
            <div class="w-50 mb-3">
                <h2>タイトル</h2>
                <input type="text" id="title" class="form-control mb-2" value="{{.Title}}">
            </div>

            <div class="d-flex flex-column">
                <!-- 先週の実績 -->
                <div class="d-flex flex-column bg-light px-lg-5 mn-lg-5">
                    <h1>実績入力</h1>
                    <div class="row">
                        {{template "daily-item" .Jisseki.Mon}}
                        {{template "daily-item" .Jisseki.Tue}}
                        {{template "daily-item" .Jisseki.Wed}}
                        {{template "daily-item" .Jisseki.Thu}}
                        {{template "daily-item" .Jisseki.Fri}}
                        {{template "daily-item" .Jisseki.Sat}}
                        {{template "daily-item" .Jisseki.Sun}}
                    </div>
                </div>
                <!-- 予定 -->
                <div class="d-flex flex-column  bg-light px-lg-5 mn-lg-5">
                    <h1>予定入力</h1>
                    <div class="row">
                        {{template "daily-item" .Yotei.Mon}}
                        {{template "daily-item" .Yotei.Tue}}
                        {{template "daily-item" .Yotei.Wed}}
                        {{template "daily-item" .Yotei.Thu}}
                        {{template "daily-item" .Yotei.Fri}}
                        {{template "daily-item" .Yotei.Sat}}
                        {{template "daily-item" .Yotei.Sun}}
                    </div>
                    <div class="section-title">
                        <h1>タスク</h1>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card text-white bg-dark">
                                <div class="card-header d-inline-flex justify-content-between">
                                    日程に紐付かない予定・適宜やること
                                </div>
                                <textarea id="tasks" class="form-control" rows="10" placeholder="">{{.Tasks}}</textarea>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card text-white bg-dark">
                                <div class="card-header d-inline-flex justify-content-between">
                                    近日中の予定
                                </div>
                                <textarea id="schedule" class="form-control" rows="10"
                                    placeholder="">{{.Schedule}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-dark bg-dark justify-content-end">
        {{template "toast"}}
        <button type="button" name="save" onclick="saveAndStayPage();" class="btn btn-secondary" style="margin-right: 10px;">保存</button>
        <form action="report">
            <!-- 開始日を格納しておく -->
            <input type="hidden" name="start" value="{{.Jisseki.Mon.DateValue}}">
            <!-- ページ遷移するためsubmit -->
            <button type="submit" onclick="savePage();" class="btn btn-primary">保存して週報作成</button>
        </form>
    </nav>
</body>

</html>