<!DOCTYPE html>
<html lang="jp">

<!-- headタグ -->
{{template "head"}}

<body class="bg-light">
    <!-- ヘッダ -->
    {{template "navber"}}
    <!-- 本体 -->
    <div class="jumbotron px-lg-5 mb-0 bg-light">
        <div class="container-fluid px-lg-5 full-height">
            <div class="row">
                <!-- ナビゲーションリスト -->
                <div class="col-lg-4 full-height">
                    <h2 class="mt-5">週報一覧</h2>
                    <div class="list-group h-100" style="overflow-y: scroll;">
                        {{ range $i, $item := .List -}}
                        {{template "weekly-item" $item}}
                        {{- end }}
                    </div>
                </div>
                <!-- 閲覧画面 -->
                <div class="col-lg-8 full-height">
                    <h2>プレビュー</h2>
                    <textarea id="preview" class="form-control h-100"></textarea>
                    <form action="edit">
                        <!-- 開始日を格納しておく -->
                        <input type="hidden" name="start" id="start" value="">
                        <!-- ページ遷移するためsubmit -->
                        <button type="submit" class="btn btn-primary">編集</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <style>
        .full-height {
            height: 80vh;
        }
    </style>
</body>

</html>