<!DOCTYPE html>
<html lang="jp">
<!-- headタグ -->
{{template "head"}}

<body>
    <script src="../static/js/wasm_exec.js"></script>
    <script>
        const go = new Go();
        WebAssembly.instantiateStreaming(fetch("static/wasm/main.wasm"), go.importObject).then((result) => {
            go.run(result.instance);
        });
    </script>

    <!-- ヘッダ -->
    {{template "navber"}}
    <!-- 本体 -->
    <div class="jumbotron  px-lg-5">
        <div class="container-fluid px-lg-5">
            <div class="w-50 mb-3">
                <h2>タイトル</h2>
                <input type="text" id="title" class="form-control mb-2" value="{{.Title}}">
            </div>
            <h2>本文</h2>
            <textarea  class="form-control" rows="26">{{template "report-text" .}}</textarea>
        </div>
    </div>
</body>

</html>